@page
@model ThingsWeb.Pages.AppConfigInfoModel
@{
    Layout = null; 
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ThingsWeb - AppConfigInfo</title>
    <style>
        body {
            font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"sans-serif";
        }
    </style>
</head>
<body>
    <h3>ThingsWeb - AppConfigInfo</h3>
    @Html.Raw(Model.strHtml)
    <hr />
    <a href="/">Home</a>
</body>
</html>